<mat-dialog-content>
    <h2 mat-dialog-title>Вибір складності</h2>

    <mat-form-field appearance="fill" style="width: 100%; max-width: 320px; margin-bottom: 24px;">
        <mat-label>Складність</mat-label>
        <mat-select [(value)]="stockfishLevel" (selectionChange)="selectStockfishLevel($event.value)">
            <mat-option *ngFor="let option of stockfishLevels" [value]="option">
                {{ option.label }} (ELO: {{ option.elo }})
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="choose-side">
        <img src="assets/pieces2/white-king.png" class="king-img" draggable="false" (click)="play('w')">
        <img src="assets/pieces2/black-king.png" class="king-img" draggable="false" (click)="play('b')">
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>