<nav class="navbar">
    <div class="navbar-content">
        <button *ngIf="gameState === 'not_started'" class="play-button" (click)="playAgainstComputer()">
            <span class="game-icon">🎮</span>
            Грати проти комп'ютера
        </button>
        <button *ngIf="gameState === 'in_progress'" class="play-button" (click)="playAgain()">
            <span class="game-icon">🔄</span>
            Грати знову
        </button>
    </div>
</nav>

<main class="main-content">
    <app-nav-menu></app-nav-menu>
</main>
